:root{
    --near-white: #c2c2c2;
}

html{
    font-family: 'Lobster Two', cursive;
}

*{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}

.anim-test{
    height: 20px;
    background: black;
}

.panel{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    position: absolute;
    background-color: white;
    height: fit-content;
    width: fit-content;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.panel button{
    padding: 3rem 1rem 3rem 1rem;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    font-weight: bold;
}

.inactive-multiply-buff{
    border: 1px solid rgb(99, 99, 99);
    background: black;
    color: white;
}

.inactive-plus-buff{
    border: 1px solid rgb(99, 99, 99);
    background: black;
    color: white;
}

.active-plus-buff{
    border: 3px solid rgb(255, 55, 55);
    background: rgb(112, 0, 0);
    color: rgb(173, 173, 173);
}

.inactive-plus-buff:active{
    border: 1px solid rgb(99, 99, 99);
}

.active-plus-buff:active{
    border: 3px solid rgb(255, 85, 85) !important;
}

.panel-right{
    margin: auto 0 0 auto;
}

.panel-left{
    margin: auto auto 0 0;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}

.score{
    user-select: none;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 0rem auto 0 auto;
    color:  var(--near-white);
    font-size: 3rem;
}

.score div{
    width: 30px;
    display: block;
    height: fit-content;
}

.ship{
    width: 150px;
    height: 30%;
    background: transparent;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    border:none !important;
    cursor: pointer;
}

.ship__image{
    background-size: 100% 100%;
    background-repeat: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.ship-notgoing{
    height: 150px;
    background-image: url('./ship.png');
}

.ship-highest_speed{
    height: 189px;
    background-image: url('./sprites/highestSpeed.png');
}

.ship-high_speed{
    height: 179px;
    background-image: url('./sprites/highSpeed.png');
}

.ship-mid_speed{
    height: 170px;
    background-image: url('./sprites/midSpeed.png');
}

.ship-small_speed{
    height: 162px;
    background-image: url('./sprites/smallSpeed.png');
}

.ship-smallest_speed{
    height: 156px;
    background-image: url('./sprites/smallestSpeed.png');
}

@keyframes anim-ship-clicked {
    0%{
        transform: translateY(0%)
    }
    15%{
        transform: translateY(-10%) scale(0.95, 1);
    }
    75%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%)
    }
}

@keyframes anim-ship-not-clicked {
    0%{
        transform: translateY(0%)
    }
    15%{
        transform: translateY(-10%);
    }
    75%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%)
    }
}

.ship-clicked{
    animation-name: anim-ship-clicked;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.ship-notclicked{
    animation-name: anim-ship-not-clicked;
    animation-duration: 2s;
    animation-iteration-count: 1;
}



